---
layout: default
---
<article class="page{% if page.class %} {{ page.class }}{% endif %}">
  <header>{% if page.title %}
    <h1 class="article">{{ page.title }}</h1>{% endif %}
  </header>

  <div class="bd text">
    {{ content }}

    <div class = series>
      {% for tag in page.tags %}
      {% if tag contains ':' %}
      -------
        <ul>
        {% for tg in site.tags %}
          {% if tg[0] == tag %}
          {% assign page-list = tg[1] %}{% include page-list %}
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
      {% endfor %}
    </div>

  </div>
  <footer><nav>
<a href="#page">^_^</a>
  </nav></footer>

</article>
