@import 'base.css';

.km-view {
    font-family: "STHeitiSC-Light", "STHeiti", "Hei", "Heiti SC", "Microsoft Yahei", Arial, sans-serif;
    -webkit-user-select: none;
    user-select: none;
    position:  relative;
}

.km-view .km-receiver {
    position: absolute;
    left: -99999px;
    top: -99999px;
    width: 20px;
    height: 20px;
    outline: none;
    margin: 0;
}

.x0{color: #fa8072}
.x1{color: MediumSeaGreen}
.x2{color: #678CB1}
.x4{color: DarkGray} /*#EC7600*/
.x3{color: orange}


.x{display: block} /*table-cell*/
.x:first-letter{
}
.x-p, .x-ps{
color: gold;
/*padding-right: 1em;*/
}
/* .x3 .x-p, .x3 .x-ps{
  color: #fa8072
} */

.category-nav{
  font-size: 1.2em;
  font-weight:bolder
}

.list li{
  margin-right: 1em;
}


/*.x-p-l:before{
  content: "{";
	position: absolute;
	font-size: 1.6em;
  top: 0.3em;
	font-family: serif;
	font-weight: bolder;
}*/

.series a, .series .active a{
  font-size: 1em;
}
.series .active a{
  color: grey;
  /*text-decoration: underline;*/
}
/*.series a:visited{
color: grey
}*/
.series li{
  padding-right : .6em;
}

blockquote p{
  /*white-space: pre-line;*/
}

table, th, td{
  /*margin-left: 2em;*/
  border: solid #678CB1 1px;
}
/*th, td{
  border: solid grey 1px;
}*/

body {
  font-size: 1.1em;
  lne-height: 1.2;
  color:#E0E2E4;background:#293134;
/*color:#657A81;background:#FDF6E3;*/
}
body, button, input, select, textarea { font-family: Lucida Sans Unicode, Lucida Grande, Tohoma,  Microsoft Yahei, \5E7C\5706, sans-serif; }

h1,h2,h3,h4,h5,h6 {
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  color: #EC7600;
}

small, .small{
  font-size: 0.75em;
}

a, a:hover, a:visited{
  color: #93C763; /*#A082BD; /*#CAE682;*/
  text-decoration: none;
}

.text a:visited {
  color: #B3B784;
}

a:hover {
text-decoration: underline;
}

pre {
  margin-bottom: 1.625em;
}

::selection { background: #804000; color: #E0E2E4; text-shadow: none; }

/*************************************/
1
1.618
2.618
4.236


/*************************************/

#page {
padding: 0.2em;
}
footer p, nav p, .nav p {
margin: 0;
padding: 0;
}

#header, #footer, h1, h2 {
font-family: Lucida Sans Unicode, Lucida Grande, Tohoma, \5E7C\5706, Microsoft Yahei, sans-serif;
}

#header h1 {
  margin: 0;
  padding: 0;
  font-size: 4.2em;
}
#header h1 a:visited, #header h1 a, #header h1 a:hover {
  color: #fa8072; /*gold;*/
}

#header h1::after{
content: "";
height: 10px;
color: #fa8072;
font-size: .618em;
}
#header h1 a:hover{
text-decoration: none;
border-bottom: 3px solid;
}
nav, #footer {
  text-transform: uppercase;
}
nav ul, .nav ul, {
  list-style: none;
}
nav ul li, .nav ul li{
  display :inline;
}
nav{
  max-width: 35em;
}

article{
max-width: 35em;
}

article h1{
  font-size: 2.6em;
  text-align: left;
  padding: 1em 0 .7em 0;
}
article h2{
  font-size: 1.618em;
  margin-top: .7em;
  margin-bottom: .3em;

}
article h3 {
  font-size: 1em;
  margin-top: .7em;
  margin-bottom: .3em;
  font-weight: bold;
}
article h4 {
  font-size: 1em;
  font-style: italic;
}

.text p {
margin-bottom: 1.6em;
}
.text a:hover{
text-decoration: underline;
}
em, strong,
q,code{
color: #678CB1;
}

pre, blockquote, table{
font-size: 1em;
border-left: 7px solid #678CB1;
/*border-right: 7px solid #678CB1;*/
}

/*
article nav, article nav a{
color: #FF8BFF;
font-weight: bold;
}*/
nav a, nav a:visited, nav a:hover {
color: orange;/*#FFCD22;*/
}
article footer nav {
font-size: 1em;
font-weight: bold;
text-decoration: none;
}
article nav a, article nav a:visited, article nav a:hover {
color: #FFCD22;
}
.meta{
color: #B3B784;
padding-top: 2em;
}
span.meta{padding-left: 1em; font-size: .618em;}

article footer nav{
padding-top: 1em;
}

#footer {
color: #7D8C93;
padding-top: 3em;
padding-bottom: 1em;
}

.text ul, .text ol{
padding-left: 2em;
}

.text {
line-height: 1.618;
}

.active a{
font-size: 1.618em;
}

.list a > span {
color: #B3B784;
font-size: 0.8em;
}
.list a > span::before {
content: "(";
}
.list a > span::after {
content: ")";
}

.date{
font-family: Lucida Console, Monaco, Courier New, mono, monospace;
}

@media all and (max-width: 360px) {

  #page {
  padding: .2em .2em;
  }

}

@media all and (min-width: 360px) and (max-width: 600px) {

  #page {
  padding: .2em .8em;
  }
  h1,h2,h3,h4,h5,h6 {
  margin-left: -12px;
  }
  article {
  padding-left: 12px;
  }
pre, blockquote, table{
padding-left: .5em;
margin: .5em;
}
}

@media all and (min-width: 600px) {

  #page {
  padding: .2em 2em;
  }
  h1,h2,h3,h4,h5,h6 {
  margin-left: -36px;
  }
  article {
  padding-left: 36px;
  }

pre, blockquote, table{
padding-left: 1em;
padding-right: 1em;
margin: 1em;
}

}
