---
layout: page
title: c
permalink: /cat/bible/
---
<nav><ul class="category list">
  {% assign category-list = site.categories %}{% include category-list %}
</ul></nav>

<div class="page list">
{% for category in site.categories %}
  <h2 id="{{ category[0] }}">{{ category[0] | join: "/" }}</h2>
  <ul>
  {% assign page-list = category[1] %}{% include page-list %}  </ul>
{% endfor %}
</div>

<div class="page list">
  {% assign cat = site.categories['c'] %}

  <h2>{{site.categories['c'] | first}}</h2>{{cat | first}}
  <ul>
  {% assign page-list = cat | last %}{% include page-list %}  </ul>
</div>
