<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="author" content="{{ site.author.name }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}{% if page.tagline %}{{ page.tagline}}{% endif %}</title>
<!--[if lt IE 9]>
<script src="{{ site.path.js }}/html5shiv.js"></script>
<![endif]-->
<script src="{{ site.path.js }}/main.js"></script>
<link href="{{ site.path.css }}/style.css" rel="stylesheet" media="all">
<link href="{{ site.path.feed }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml">
<link rel="shortcut icon" href="{{ site.path.assets }}favicon.ico" type="image/x-icon">

<div id="page">
<header id="header">
<h1 id="logo"><a href="{{ site.url }}">{{ site.title }}</a></h1>
<nav id="nav">
<ul>
<li><a href="{{ site.path.archive }}">Archive</a>
<li><a href="{{ site.path.cats }}">Categories</a>
<li><a href="http://www.google.com/cse/home?cx=004991034849137261988:mscjcematvy">Search</a>
<li><a href="{{ site.path.feed }}">Feed</a>
<li><a href="http://www.jianshu.com/users/4aedfbcb5010">Drafts</a>
</ul>
</nav>
</header>

<div id="body" role="main">
{{ content }}
</div><!-- body -->

<footer id="footer">
<p class="licence">
{{ site.copyright }}
</p>
</footer>

</div><!-- page -->
